<h1 id='title'>Pages</h1>

<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-inner">
			<a class="navbar-brand" href="#">Pages</a>
			<ul class="nav navbar-nav">
				<li>{{#link-to 'pages'}}Pages{{/link-to}}</li>
				<li>{{#link-to 'modelnames'}}Modelname{{/link-to}}</li>
			</ul>
		</div>
	</div>
</div>

{{outlet}}
