<p><button {{action 'deletePage'}}>Delete</button></p>

<p>{{view Ember.Select
  contentBinding="controllers.modelnames"
  optionLabelPath="content.name"
  optionValuePath="content.id"
  selectionBinding="mname.content"
}}</p>

<p>{{input type="text" value=title size="60"}}</p>
<p>{{textarea value=body cols="100" rows="4" }}</p>