<p><button {{action 'deletePage'}}>Delete</button></p>

<p>{{input type="text" value=modelname size="60"}}</p>
<p>{{input type="text" value=title size="60"}}</p>
<p>{{textarea value=body cols="100" rows="4" }}</p>